# Default Approval rule if one of the later sections does not apply
* @nv-morpheus/mrc-codeowners

# Approval from Python codeowners is required for these files
/python/     @nv-morpheus/mrc-codeowners-python

# Approval from C++ codeowners is required for these files
/benchmarks/ @nv-morpheus/mrc-codeowners-cpp
/cmake/      @nv-morpheus/mrc-codeowners-cpp
/include/    @nv-morpheus/mrc-codeowners-cpp
/protos/     @nv-morpheus/mrc-codeowners-cpp
/src/        @nv-morpheus/mrc-codeowners-cpp
/tests/      @nv-morpheus/mrc-codeowners-cpp
