# SPDX-FileCopyrightText: Copyright (c) 2022, NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

name: Build pull request

on:
  push:
    branches:
      - 'pull-request/**'
      - "branch-*"

# This allows a subsequently queued workflow run to interrupt previous runs
concurrency:
  group: '${{ github.workflow }} @ ${{ github.event.pull_request.head.label || github.head_ref || github.ref }}'
  cancel-in-progress: true

jobs:
  ci_pipe:
    uses: ./.github/workflows/ci_pipe.yml
    with:
      run_check: ${{ startsWith(github.ref_name, 'pull-request/') }}
      run_package_conda: ${{ startsWith(github.ref_name, 'branch-') }}
      container: nvcr.io/ea-nvidia-morpheus/morpheus:srf-ci-driver-221103
      test_container: nvcr.io/ea-nvidia-morpheus/morpheus:srf-ci-base-221103
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      CONDA_TOKEN: ${{ secrets.CONDA_TOKEN }}
      GHA_AWS_ACCESS_KEY_ID: ${{ secrets.GHA_AWS_ACCESS_KEY_ID }}
      GHA_AWS_SECRET_ACCESS_KEY: ${{ secrets.GHA_AWS_SECRET_ACCESS_KEY }}
      NGC_API_KEY: ${{ secrets.NGC_API_KEY }}
